#Pre

In [ ]:
import pandas as pd

In [ ]:
#'Start_Lon','Start_Lat','End_Lon','End_Lat',
cols=['Trip_Pickup_DateTime','Trip_Dropoff_DateTime','Trip_Distance','Total_Amt']

In [ ]:
dtypes = {'Embarked': 'category'}
df=pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-01.csv',dtype=dtypes,usecols=cols)

In [ ]:
df2=pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-02.csv',dtype=dtypes,usecols=cols)

In [ ]:
df3=pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2009-03.csv',dtype=dtypes,usecols=cols)

In [ ]:
df=pd.concat([df,df2,df3],ignore_index=True)

In [ ]:
df

         Trip_Pickup_DateTime Trip_Dropoff_DateTime  Trip_Distance  Total_Amt
0         2009-01-04 02:52:00   2009-01-04 03:02:00           2.63       9.40
1         2009-01-04 03:31:00   2009-01-04 03:38:00           4.55      14.60
2         2009-01-03 15:43:00   2009-01-03 15:57:00          10.35      28.44
3         2009-01-01 20:52:58   2009-01-01 21:14:00           5.00      18.45
4         2009-01-24 16:18:23   2009-01-24 16:24:56           0.40       3.70
...                       ...                   ...            ...        ...
41859901  2009-03-30 02:29:00   2009-03-30 02:45:00           4.77      14.20
41859902  2009-03-30 06:48:00   2009-03-30 06:51:00           0.61       4.10
41859903  2009-03-25 14:00:00   2009-03-25 14:11:00           1.83       7.70
41859904  2009-03-29 17:46:00   2009-03-29 18:22:00          17.04      54.15
41859905  2009-03-25 14:26:00   2009-03-25 14:33:00           0.78       5.30

[41859906 rows x 4 columns]

#Lon,Lat

In [ ]:
df['Start_loc'] = df['Start_Lon'].round(2).apply(str) + ',' + df['Start_Lat'].round(2).apply(str)

In [ ]:
Start=df.loc[:,'Start_loc'].value_counts()

In [ ]:
df_Start=pd.Series(Start.rename_axis('region'))
df_Start=df_Start.reset_index()

In [ ]:
df_Start[['Lon','Lat']]=df_Start.region.str.split(',', expand=True)

In [ ]:
df_Start.to_csv('Start_loc.csv')

In [ ]:
df['End_loc'] = df['End_Lon'].round(2).apply(str) + ',' + df['End_Lat'].round(2).apply(str)

In [ ]:
End=df.loc[:,'End_loc'].value_counts()

In [ ]:
df_End=pd.Series(End.rename_axis('region'))
df_End=df_End.reset_index()

In [ ]:
df_End[['Lon','Lat']]=df_End.region.str.split(',', expand=True)

In [ ]:
df_End.to_csv('End_loc.csv')

In [ ]:
df['Trip_Pickup_DateTime'] = pd.to_datetime(df['Trip_Pickup_DateTime'], utc=True, format='%Y-%m-%d %H:%M:%S')
df['Pickup_Hour'] = df.Trip_Pickup_DateTime.dt.hour

In [ ]:
a=df.loc[:,'Pickup_Hour'].value_counts()
a.to_csv('Pickup_Hour.csv')

In [ ]:
df['Trip_Dropoff_DateTime'] = pd.to_datetime(df['Trip_Dropoff_DateTime'], utc=True, format='%Y-%m-%d %H:%M:%S')

In [ ]:
df['weekday'] = df.Trip_Pickup_DateTime.dt.weekday

#Total_amt

In [ ]:
df1=df[(df.Total_Amt>10)]

In [ ]:
df1=df[(df.Pickup_Hour>8)]

In [ ]:
df=df.drop('weekday', axis=1)

In [ ]:
df['time']=df.Trip_Dropoff_DateTime-df.Trip_Pickup_DateTime

In [ ]:
df['During_time']=df.time.dt.total_seconds()/60

In [ ]:
df.corr()['Total_Amt']

Trip_Distance    0.883570
Total_Amt        1.000000
Pickup_Hour     -0.009815
During_time      0.052260
Name: Total_Amt, dtype: float64

In [ ]:
df

,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Trip_Distance,Total_Amt,Pickup_Hour,time,During_time
0,2009-01-04 02:52:00+00:00,2009-01-04 03:02:00+00:00,2.63,9.40,2,0 days 00:10:00,10.000000
1,2009-01-04 03:31:00+00:00,2009-01-04 03:38:00+00:00,4.55,14.60,3,0 days 00:07:00,7.000000
2,2009-01-03 15:43:00+00:00,2009-01-03 15:57:00+00:00,10.35,28.44,15,0 days 00:14:00,14.000000
3,2009-01-01 20:52:58+00:00,2009-01-01 21:14:00+00:00,5.00,18.45,20,0 days 00:21:02,21.033333
4,2009-01-24 16:18:23+00:00,2009-01-24 16:24:56+00:00,0.40,3.70,16,0 days 00:06:33,6.550000
...,...,...,...,...,...,...,...
41859901,2009-03-30 02:29:00+00:00,2009-03-30 02:45:00+00:00,4.77,14.20,2,0 days 00:16:00,16.000000
41859902,2009-03-30 06:48:00+00:00,2009-03-30 06:51:00+00:00,0.61,4.10,6,0 days 00:03:00,3.000000
41859903,2009-03-25 14:00:00+00:00,2009-03-25 14:11:00+00:00,1.83,7.70,14,0 days 00:11:00,11.000000
41859904,2009-03-29 17:46:00+00:00,2009-03-29 18:22:00+00:00,17.04,54.15,17,0 days 00:36:00,36.000000
41859905,2009-03-25 14:26:00+00:00,2009-03-25 14:33:00+00:00,0.78,5.30,14,0 days 00:07:00,7.000000

In [ ]:
df1.loc[:,'Trip_Distance'].value_counts()

3.000     221956
2.900     220652
3.100     220196
2.800     215829
3.200     215590
           ...
0.071          1
39.970         1
42.440         1
2.054          1
35.990         1
Name: Trip_Distance, Length: 6273, dtype: int64

In [ ]:
df.loc[:,'Trip_Distance'].value_counts()

0.800     1024927
1.000     1023908
1.100      974681
0.700      968358
1.200      925509
           ...
2.689           1
1.857           1
39.970          1
42.440          1
35.990          1
Name: Trip_Distance, Length: 6290, dtype: int64

In [ ]:
df.describe()['Total_Amt']

count    4.185991e+07
mean     1.049112e+01
std      8.393608e+00
min      2.500000e+00
25%      5.900000e+00
50%      8.100000e+00
75%      1.170000e+01
max      2.352000e+02
Name: Total_Amt, dtype: float64

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
a=df.loc[:,'Total_Amt'].value_counts()

In [ ]:
a.to_csv('Total_Amount.csv')